

*{
  padding: 0;
    
}

.Navbar{
     background-color: rgb(97, 66, 235);
     color: rgb(245, 241, 241);
   
}
 ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  
}
 li{
    float: left;
    padding: 7px;
    font-size: 20px;
 }
 